{% extends "auctions/layout.html" %}
{% load static %}

{% block title %}Listing{% endblock %}

{% block body %}

    <main class="w-75 mx-auto">
        <div class="card mb-3">
            <div class="row no-gutters">
              <div class="col-md-4">
                {% if listing.image_url %}
                    <img class="h-100 w-100 p-3" src="{{listing.image_url}}" alt="{{listing.title}} image">
                {% else %}
                    <img class="h-100 w-100 p-3" src="{% static 'auctions/missing-image.png' %}" alt="{{listing.title}} image">
                {% endif %}
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title mb-1">{{ listing.title }}</h5>
                  <p class="card-text mt-0"><small class="text-muted">{{ listing.category}}</small></p>
                  <p class="description card-text">{{ listing.description }}</p>
                  <div class="d-flex justify-content-between align-items-center h-50">
                      <p class="card-text mb-0">Started Bid: <span>${{ listing.starting_bid }}</span></p>
                       
                      {% if user.is_authenticated %}
                      <form method="POST">
                        {% csrf_token %}
                        {% if is_in_user_watchlist %}
                            <input class="watchlist-button" type="submit" value="Remove from Watchlist">
                            <input type="hidden" name="listing_id" value="{{ listing.id }}">
                            <input type="hidden" name="action" value="remove">
                        {% else %}
                            <input class="watchlist-button" type="submit" value="Add to Watchlist">
                            <input type="hidden" name="listing_id" value="{{ listing.id }}">
                            <input type="hidden" name="action" value="add">
                        {% endif %}

                        </form> 
                      {% endif %}
                      
                    </div>
                    <p class="card-text mt-3 mb-1">Current Bid: <span>${{ listing.price }}</span></p>
                    {% if last_bid %}
                        <p class="card-text">
                            <small class="text-muted">
                                Last bid <span class="font-italic">{{last_bid.last_bided | timesince }}</span> ago by {{ last_bid.user }}
                            </small>
                        </p>
                    {% else %}
                        <p class="card-text"><small class="text-muted">This listing hasn't any bid yet.</small></p>
                    {% endif %}
                    {% if messages %}
                    <ul class="messages">
                        {% for message in messages %}
                        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
                            {% if message.level == 25 %}
                                <div class="alert alert-success">{{ message }}</div>
                            {% else %}
                                <div class="alert alert-danger">{{ message }}</div>
                            {% endif %}
                        </li>
                        {% endfor %}
                    </ul>
                    {% endif %}

                  <div class="d-flex justify-content-between align-items-center">
                      <form method="POST">
                        {% csrf_token %}
                        <div class="form-group d-flex flex-column">
                            <input class="mt-2" placeholder="$999.99" type="number" name="bid" id="bid-input" required>
                            <small class="text-muted ml-1">You must bid higher than the current price.</small>
                        </div>
                        <input class="btn btn-primary w-100" type="submit" value="Place bid" id="bid-button">
                        <input type="hidden" name="action" value="bid">
                        <input type="hidden" name="listing_id" value="{{ listing.id }}">
                      </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
    </main>

    <style>
        .card {
            border: none;
        }
        .card img {
            object-fit: contain;
            max-height: 300px;
        }
        .card-title {
            font-size: 60px;
        }
        .card-text {
            font-size: 20px;
            margin-left: 4px;
        }
        .description {
            color: rgb(69, 54, 38);
        }

        p span, small span {
            color: #ff7f00;
        }
        .watchlist-button {
            background-color: white;
            color: #ff7f00;
            border: 2px solid #ff7f00;
            border-radius: 100px;
            padding: 5px 20px;
        }
        .watchlist-button:hover {
            color: white;
            background-color: #ff7f00;
        }
        .h-50 {
            height: 50px !important;
        }
        #bid-input {
            border-radius: 0;
            border: none;
            outline: none;
            border-bottom: 2px solid grey;
        }

        #bid-input:focus {
            box-shadow: none;
            border-bottom: 2px solid #ff7f00;
        }
        p small span {
            color: inherit;
        }

        .messages {
            list-style: none;
            margin: 0;
            padding: 0;
        }
    </style>
{% endblock %}